# folders
gh
github-copilot
lazy*
_*

# Fish local config
.config/fish/fish_variables

# Tmux
.config/tmux/plugins

# Lazygit
.config/lazygit/state.yml
.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json

# Zed
.config/zed/.tmp*
.config/zed/embeddings
.config/zed/prompts

# Claude Code
.claude/*.local.json

# Vim
Session.vim
.vim/bundle/
.vimrc_sample
.vim/ftdetect/Dockerfile.vim
.vim/syntax/Dockerfile.vim
.vim/snippets/
.luarc.json

*.o
\#*#
*#
.#*
.*~
*~
.DS_Store
*.sw[po]
tags
TAGS
.svn
*.dSYM
*.log
*.dvi
*.aux
*.elc
.zshrc.local
.python-version
samples
.netrwhist
.bundle
/vendor/bundle
Gemfile.lock
node_modules
bower_components
fishd.*
